.vs
bin/Debug/PardoCasanova_BenitezEstruch.exe
bin/Debug/PardoCasanova_BenitezEstruch.pdb
bin/Debug/PardoCasanova_BenitezEstruch.cproj.CoreCompileInputs.cache
bin/Debug/PardoCasanova_BenitezEstruch.cproj.FileListAbsolute.txt
